.todo__listWrapper {
}

.todo__listWrapper:after {
    content: '';
    background: linear-gradient(-25deg, var(--red) 0%, #eccc6d 100%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: screen;
    pointer-events: none;
  }

.todo__container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    transition: 01s opacity;
}

.todo__label {
    padding: 0 5px;
    font-size: 32px;
    color: var(--red);
    cursor: pointer;
    transition: 0.3s transform, 0.3s color;
}

#completed:checked+.todo__label {
    color: green;
    padding: 0 2px;
}

.todo__label:hover {
    transform: scale(1.1);
}

.todo__textInput {
    position: relative;
    font-size: 32px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 0 15px;
    background: black;
    color: white;
}

#completed:checked~.todo__textInput {
    text-decoration: line-through;
}

.todo__delete {
    border: 0;
    background: transparent;
    font-size: 32px;
    color: var(--red);
}