:root {
    --text-blue: black;
    --background: #1d2630;
    --background-light: #253241;
    --background-lightest: #3e556f;
    --primary: #BB4430;
    --primary-light: #d9624e;
    --primary-dark: #9d2612;
    --brown: #231F20;
    --beige: #EFE6DD;
    --yellow: #F3DFA2;
    --red: #BB4430;
    --pink: #FF81A9;
    --teal: #03c03c; 
    --text: #000000;
    --text-gray: rgb(59, 59, 59);
    --text-white: white;
}

.global__card {
    background: var(--background-light);
    padding: 50px;
    transition: box-shadow 0.4s;
    max-width: 100vw;
    border-radius: 8px;
    border-bottom: 4px solid var(--primary);
}

.global__card:hover, .global__card:focus-within {
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.37);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.37);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    background: var(--background-light);
}

.global__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global__button--primary-dark {
    background-color: var(--primary-dark);
    color: white;
    border: 0;
    border-radius: 500px;
    cursor: pointer;
    padding: 5px 15px;
    margin: 15px auto 0;
    transition: all 0.4s;
}

.global__hoverButton--primary {
    color: var(--primary);
    background-color: transparent;
    padding: 10px;
    transition: 0.4s all;
    border-radius: 8px;
}

.global__hoverButton--primary:hover {
    background: var(--background-light);
    color: white;
}

.global__hoverButton--primaryDark {
    color: var(--primary-dark);
    background-color: transparent;
    padding: 10px;
    transition: 0.4s all;
    border-radius: 8px;
}

.global__hoverButton--primaryDark:hover {
    background: var(--primary-dark);
    color: white;
}

.global__hoverButton--primaryLight {
    color: var(--primary-light);
    background-color: transparent;
    padding: 10px;
    transition: 0.4s all;
    border-radius: 8px;
}

.global__hoverButton--primaryight:hover {
    background: var(--primary-light);
    color: white;
}

.global__hoverButton--secondary {
    color: var(--text-white);
    background-color: transparent;
    border-bottom: 4px solid var(--primary);
    padding: 10px;
    transition: 0.4s all;
    border-radius: 8px;
    border: 0;
}

.global__hoverButton--secondary:hover {
    background: var(--background-lightest);
    color: white;
}

.global__hoverButton--secondaryDark {
    color: var(--text-white);
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    transition: 0.45s all;
}

.global__hoverButton--secondaryDark:hover {
    background: var(--secondary-dark);
    color: white;
}

.global__flexContainer {
    display: flex;
    flex-wrap: wrap;
}