:root {
    --text-blue: black;
    --primary: #BB4430;
    --primary-light: #d9624e;
    --primary-dark: #9d2612;
    --brown: #231F20;
    --beige: #EFE6DD;
    --yellow: #F3DFA2;
    --red: #BB4430;
    --pink: #FF81A9;
    --teal: #7EBDC2; 
    --text: #000000;
    --text-gray: rgb(59, 59, 59);
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.global__card {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    transition: box-shadow 0.4s;
}

.global__card:hover, .global__card:focus-within {
    -webkit-box-shadow: 10px 10px 5px 25px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.37);
    background-color: white;
}

.global__button--primary-dark {
    background-color: var(--primary-dark);
    color: white;
    border: 0;
    border-radius: 500px;
    cursor: pointer;
    padding: 5px 15px;
    margin: 15px auto 0;
    transition: all 0.4s;
}

.global__hoverButton--primary {
    color: var(--primary);
    background-color: transparent;
    padding: 10px;
    transition: 0.4s all;
    border-radius: 8px;
}

.global__hoverButton--primary:hover {
    background: var(--primary);
    color: white;
}

.global__hoverButton--primaryDark {
    color: var(--primary-dark);
    background-color: transparent;
    padding: 10px;
    transition: 0.4s all;
    border-radius: 8px;
}

.global__hoverButton--primaryDark:hover {
    background: var(--primary-dark);
    color: white;
}

.global__hoverButton--primaryLight {
    color: var(--primary-light);
    background-color: transparent;
    padding: 10px;
    transition: 0.4s all;
    border-radius: 8px;
}

.global__hoverButton--primaryight:hover {
    background: var(--primary-light);
    color: white;
}

.global__hoverButton--secondary {
    color: var(--text-gray);
    background-color: transparent;
    padding: 10px;
    transition: 0.4s all;
    border-radius: 8px;
    border: 0;
}

.global__hoverButton--secondary:hover {
    background: var(--primary-light);
    color: white;
}

.global__hoverButton--secondaryDark {
    color: var(--text-gray);
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    transition: 0.45s all;
}

.global__hoverButton--secondaryDark:hover {
    background: var(--secondary-dark);
    color: white;
}
